@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional styles */
.bg-cream {
  background-color: #FDF6EE;
}

.dm-mono {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.be-vietnam {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.purple-hover {
  &:hover {
    color: #8953CD;
  }
}

.yellow-hover {
  &:hover {
    color: #FFE08F
  }
}

.yellow-a {
  color: #FFE08F;
  text-decoration: underline;
}

.bounce {
  animation: bounce .4s ease-in-out;
  transform: translateY(-10px);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


.skip-fade-in {
  opacity: 0;
  animation: skipFadeIn 4s forwards;
  animation-delay: 2s;
}

@keyframes skipFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}